torch
torchvision>=0.5.0
dominate>=2.4.0
visdom>=0.1.8.8
requests>=2.23.0
opencv_python_headless==4.7.0.72
scipy>=1.5.0
scikit_image>=0.17.2
numpy>=1.18.0
Pillow>=5.4.0

transformers>=4.25.1
datasets>=2.19.1
fastapi>=0.95.0
uvicorn>=0.21.0
diffusers>=0.19.0
transformers>=4.30.0
torch>=2.0.0
accelerate>=0.20.0
peft>=0.4.0
python-multipart